@import 'effects';


// GENERIC

*, *:before, *:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

html, body {
    min-width: 100%;
    min-height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4 {
    line-height: 1.6;
}

h1 {
    color: black;
    font-size: 1.4em;
}

h2 {
    color: #333;
    font-size: 2rem;
}

h3 {
    color: #444;
}

h4 {
    color: #555;
}

p {
    margin-top: 0.8rem;
}

body {
    line-height: 1.3;
}

footer {
    text-align: center;
    padding: 1em;
}


img {
    max-width: 100%;
}

a {
    color: #555;
    text-decoration: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.mainContainer {
    max-width: 1100px;
    height: 100%;
    margin: 0 auto;
}

.nav {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    padding: 1em;
    
    &__brand {
        text-align: left;
        margin: 0 0.5rem;
        font-size: 1.3rem;
        color: black;
    }
    
    &__links {
        list-style-type: none;
        padding: 0 0.5rem;
        flex-wrap: break;
        
        &--spaceEvenly {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        
        &--alignRight {
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
        
        a {
            cursor: pointer;
            margin: 0 0.5rem;
            font-size: 1.3rem;
        }
        
        a:hover {

            color: #5896e6;
        }
    }
}

.active {
    color: black;
    font-weight: bold;           
}

.dropdown {
    position: relative;
    display: inline-block;
    
    &__content {
        display: none;
        position: absolute;
        bottom: 0;
        right: 50%;
        transform: translate(50%, 100%);
        background-color: #eee;
        min-width: 100%;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        z-index: 1;
        
        a:hover {
            color: black;
        }
    }
}

.dropdown:hover .dropdown__content {
    display: block;
}

.spaceTop {
    margin-top: 2em;
}

.mainHeader {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 1em;
    grid-gap: 1em;
    
    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        
        h2 {
            font-size: 2.5rem;
            
        }
    }
    
    &__image {
        img {
            max-width: 100%;
        }
    }
}

.mainContent {
    display: grid;
    padding: 1em;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
    img {
        transform: translateZ(0) !important;
        filter: blur(0);
    }
    
    figure {
        box-shadow: 5px 5px 3px #999;
        
        
        figcaption {
            display: flex;
            justify-content: center;
            flex-direction: column;
            
            h2 {
                font-size: 1.6rem;
            }
        }
    }
}

.form {
    display: grid;
    grid-template-columns: 1fr 2fr;
    
    .info {
        padding: 1em;
    }
    
    form {
        padding: 1em;
        display: flex;
        overflow: hidden;
        flex-direction: column;
        justify-content: center;
        
        input {
            overflow: scroll;
            background-color: #fafafa;
            font-size: 1.6rem;
            padding: .3rem;
            border: 1px solid #ccc;
            border-collapse: separate;
        }
        
        span {
            display: block;
            margin-top: 0.3em;
            color: red;
            min-height: 1.8rem;
        }
        
        button, a {
            cursor: pointer;
            height: 2.8rem;
            font-size: 1.3rem;
            border: none;   
        }
        
        .submit {
            color: white;
            margin-bottom: 1.3em;
            background-color: dodgerblue;
        }

        button:hover, a:hover {
            background-color: darkorange;
        }
        
        a {
            color: black;
            display: flex;
            text-decoration: none;
            background-color: #eee;
            align-items:center;
            justify-content:center;
        }
        
        @-webkit-keyframes shaker {
            0% { -webkit-transform: translate(2px, 0); }
            50% { -webkit-transform: translate(-2px, 0); }
            100% { -webkit-transform: translate(2px, 0); }
        }
        
        .shake {
            -webkit-animation-name: shaker;
            -webkit-animation-duration: 0.2s;
            -webkit-transform-origin:50% 50%;
            -webkit-animation-timing-function: linear;
            background-color: #c0392b;
        }
        
        .shake:hover {
            background-color: #e74c3c;
        }
    }
}

.productHeader {
    text-align: center;
}

.filter {
    margin: 1em;
    display: grid;
    padding: 0.3em 1em;
    border: 1px solid #ccc;
    grid-template-columns: repeat(4, 1fr);
    background-color: #7c7c7c17;
    grid-gap: 1em;
    box-shadow: 5px 5px 3px #999;
    
    input[type="checkbox"] {
        margin-right: 0.3rem;
    }
    
    > div { 
        h3 {
            text-align: center;
        }
    }
    
    .search {
        padding: 0 1em;
        
        input[type="search"] {
            width: 100%;
            padding: 0.3rem;
            font-size: 1rem;
        }
        
    }
    
    
    .price {
        .container {
            display: grid;
            padding: 0.5em;
            padding-top: 0;
            grid-template-columns: 1fr 1fr 1fr;
            
            .ui-slider-horizontal {
                height: .6em;
            }
            .ui-slider-horizontal {
                margin-bottom: 15px;
                grid-column: 1 / span 3;
                
            }
            .ui-widget-header {
                background: dodgerblue;
            }
            
            .price-range-field{
                padding: .3rem;
                background-color:#f9f9f9; 
                border: 1px solid #6e6666; 
                color: black; 
                border-radius: 5px;
            }
            
            h4 {
                text-align: center;
                margin-bottom: 0.4rem;
                grid-column: 1 / span 3;
            }
            
            #min_price {
                grid-column: 1 / 2;
            }
            
            #max_price {
                grid-column: 3 / 4;
            }
        }
    }
}

.catalog {
    margin: 1em;
    margin-top: 2em;
    
    > .container {
        display: grid;
        grid-gap: 1em;
        grid-template-columns: repeat(4, 1fr);
        
        
        .product {
            border: 1px solid #ccc;
            box-shadow: 5px 5px 3px #999;
            display: flex;
            flex-direction: column;
            
            .caption {
                padding: 0.4rem;
                text-align: center; 
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
        }

        .end {

        }
        
        .total {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            
            h3 {
                display: inline-block;
            }
        }
    }
}

.button {
    cursor: pointer;
    color: white;
    border: none;
    background-color: #777;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.8rem;
    margin: 0.3rem;

    &--primary {
        background-color: dodgerblue;
    }

    &--secondary {
        background-color: rgba(248, 116, 28, 0.918);
    }

    &--warning {
        background-color: red;
    }

    &--success {
        background-color: rgb(13, 189, 28)
    }
}

.cartHeader {
    text-align: center;
}

.total {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    .container {
        display: flex;
        flex-direction: column;
        text-align: right;

    }
    h3 {
        display: inline !important;
        padding-top: 0.8rem;
        margin: 0 0.3rem;
        font-weight: normal;
    }
}

.successHeader {
    text-align: center;
}

.adminHeader {
    text-align: center;
}

table {
    width: 100%;
    background-color: #eee;
}

table, th, td {
    border: 1px solid black;
}

th {
    padding: 0.3rem;
}

.tableContainer {
    text-align:center;
    .table {
        max-height: 300px;
        overflow: auto;
    }

    h3 {
        font-size: 1.5rem;
    }
}

.formContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
}

.adminForm {
    display: flex;
    flex-direction: column;

    input {
        margin: 0.3rem;
        height: 2.6em;
        padding: 0.3rem;
        font-size: 1rem;
    }
    h4 {
        color: #555;
    }
}

.aboutHeader {
    text-align: center;
}

.about {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;

    > div {
        box-shadow: 5px 5px 3px #999;
        display: flex;
        padding: 1em;
        flex-direction: column;

        img {
            border-radius: 100%;
          }
        
        h3 {
            font-size: 1.5rem;
            margin-bottom: 0.3rem;
            text-align: center;
            font-size: 1.6rem;
        }

        .info {
            margin-top: 1em;
            border-radius: 10px 10px;
            background-color: #fefefe;
            color: #555;
            padding: 0.3rem;
            font-size: 1.1rem;
        }

        p {
            margin: 0.3rem;
        }
    }
}

.contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;

    .info {
        text-align: center;

        label {
            font-weight: bold;
        }

        iframe {
          
        }

        input {
            font-size: 1.5rem;
            margin: 0.3rem;
            padding: 0.3rem;
            height: 1.6em;
        }

        form {
            padding: 0 1em;
            display: grid;
            grid-auto-columns: 1fr;
            grid-gap: 0.2em;

            span {
                display: block;
                text-align: left;
                margin: 0 0.3rem;
                color: red;
                min-height: 1.2rem;
            }
        }
    }
}

.officePictures {
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
}

.blueLink {
    text-decoration: underline;
    color: #0000FF;
}

.contentLight {
    background-color: rgb(245, 245, 245);
}

.contentDark {
    background-color: rgba(231, 231, 231, 0.973);
}


.cvc {
    max-width: 90px;
}


@font-face {
    font-family: 'Roboto';
    src: url('../font/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    src: url('../font/Roboto/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('../font/roboto_mono/RobotoMono-Regular.ttf') format('truetype');
}

@import 'mobile';